<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/images/logo2.png" />
	<title>Scent club</title>

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Styles -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
		<!-- /Header -->

		<!-- Banner -->
		<div class="banner">
			<img src="/images/banner.jpeg" alt="">
		</div>
		<!-- /Banner -->

		<!-- Listado de productos -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Perfumes Destacados</h2>
				</div>

				<% for (let i=0; i < 5; i++) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/productos/<%= i %>">
								<figure class="product-box_image">
									<img src="/images/<%= productos[i].imagen %>" alt="<%= productos[i].nombre %>">
								</figure>
								<article class="product-box_data">
									<h2>
										<%= productos[i].nombre %>
									</h2>
									<p>
										<%= productos[i].descripcion %>
									</p>
									<p>Comentarios: <%= productos[i].comentarios.length %>
									</p>
								</article>
							</a>
						</section>
					</div>
					<% } %>
			</div>
		</div>

		<!--Footer-->
		<%- include('partials/footer') %>
			<!-- /Footer -->
</body>

</html>